<?xml version="1.0"?>
<config>
	<modules>
		<Vijaystore_Customapi>
			<version>1.0.0</version>
		</Vijaystore_Customapi>
	</modules>

	<global>
		<blocks>
			<customapi>
				<class>Vijaystore_Customapi_Block</class>
			</customapi>
		</blocks>
		<helpers>
			<customapi>
				<class>Vijaystore_Customapi_Helper</class>
			</customapi>
		</helpers>
		<models>
			<customapi>
				<class>Vijaystore_Customapi_Model</class>
				<resourceModel>customapi_resource</resourceModel>
			</customapi>
			<customapi_resource>
				<class>Vijaystore_Customapi_Model_Resource</class>
				<entities>
					<demo>
						<table>customapi_soap_api</table>
					</demo>
				</entities>
			</customapi_resource>
		</models>
		<resources>
			<customapi_setup>
				<setup>
					<module>Vijaystore_Customapi</module>
				</setup>
			</customapi_setup>
			<customapi_write>
				<connection>
					<use>core_write</use>
				</connection> 
			</customapi_write>
			<customapi_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customapi_read>
		</resources>
	</global>
</config>